
#add-student-form {
    margin: 10vh 0;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.addOrDelete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}